# Logs
logs
*.log
npm-debug.log*


# Dependencies
node_modules/

# Builds outputs
dist/
*.local

# Environment variables
.env

# Editor and system files
.DS_Store
.vscode/*
!.vscode/extensions.json


